.col-sm-4 {
    position: fixed;
    background-color: #4c7171;
    text-align: center;
}

.container-fluid {
    overflow-x: hidden;
}

.col-sm-8 {
    background-color: beige;
}

.text {
    font-family: "Tahoma", sans-serif;
    color: beige;
    font-size: 32px;
}

.firstname {
    font-family: "Tahoma", sans-serif;
    color: #3b3c3d;
    font-size: 75px;
}

.lastname {
    font-family: "Tahoma", sans-serif;
    color: #4c7171;
    font-size: 75px;
}

.name {
    font-family: "Tahoma", sans-serif;
    color: #3b3c3d;
    font-size: 30px;
}

.email {
    font-family: "Tahoma", sans-serif;
    color: #4c7171;
    font-size: 30px;
}

.experience {
    font-family: "Tahoma", sans-serif;
    color: #3b3c3d;
    font-size: 60px;
}

.add {
    font-family: "Tahoma", sans-serif;
    color: #3b3c3d;
    font-size: 60px;
}

.add2 {
    line-height: 50px;
    font-family: "Tahoma", sans-serif;
    color: #3b3c3d;
    font-size: 40px;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup_content {
    color: black;
    max-width: 800px;
    padding: 30px;
    border-radius: 3%;
    background-color: beige
}

.popup_title {
    line-height: 50px;
    font-family: "Tahoma", sans-serif;
    margin-bottom: 1em;
    color: #3b3c3d;
    font-size: 30px;
}

.popup_text {
    line-height: 50px;
    font-family: "Tahoma", sans-serif;
    margin-bottom: 1em;
    color: #3b3c3d;
    font-size: 20px;
}

.popup_close {
    right: 20px;
    top: 10px;
    color: #4c7171;
    line-height: 50px;
    font-family: "Tahoma", sans-serif;
    font-size: 17px;
    float: right;
}

.popup_area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.text:hover{
    color: #3b3c3d;
}

